@using Core_Proje.Areas.Writer.Models
@model UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Bilgilerini Düzenle</h4>
            <p class="card-description">
                Basic form elements
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Adınız</label>
                    <input type="text" asp-for="Name"   class="form-control" id="exampleInputName1" placeholder="Adınız">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Soyadınız</label>
                    <input type="text" asp-for="Surname" class="form-control" id="exampleInputSurname1" placeholder="Soyadınız">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Şifreniz</label>
                    <input type="text" asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Şifreniz">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Şifre Tekrar</label>
                    <input type="text" asp-for="PasswordConfirm" class="form-control" id="exampleInputPasswordConfirm1" placeholder="Şifre Tekrar">
                </div>
               
                <div class="form-group">
                    <label>Resim Yükle</label>
                    <input type="file"asp-for="Picture" >
                   @*  <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Yükle</button>
                        </span>
                    </div> *@
                </div>
                <
               
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                <button class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>

