@using EntityLayer.Concrete
@model Skill
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="card-heafer border-0">
<h3>Yetenek Ekleme Sayfası</h3>
</div>

<br />

<form class="form-control" method="post">

    @Html.Label("Yetenek Başlığı")
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Oran</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <button type="button">Kaydet</button>

</form>

