@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3>Yetenek Düzenleme Sayfası</h3>
    <br />
</div>

<form class="form-control" method="post">
    <input type="hidden" name="SkillId" value="@Model.SkillId" />

    <label>Yetenek Başlığı</label>
    <input type="text" name="Title" class="form-control" value="@Model.Title" />
    <br />

    <label>Oran</label>
    <input type="text" name="Value" class="form-control" value="@Model.Value" />
    <br />

    <button type="submit" class="btn btn-success">Güncelle</button>
    <a href="/Skill/Index" class="btn btn-secondary">Geri Dön</a>
</form>
