@using EntityLayer.Concrete
@model Contact
@{
    ViewData["Title"] = "EditContact";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>İletişim Güncelleme Sayfası</h2>

<form method="post">
    <input type="hidden" asp-for="ContactId" />

    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />

    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />

    <label>Mail</label>
    <input type="text" asp-for="Mail" class="form-control" />

    <label>Telefon</label>
    <input type="text" asp-for="PhoneNumber" class="form-control" />

    <br />
    <button type="submit" class="btn btn-warning">Güncelle</button>
    <a href="/Contact/Index" class="btn btn-secondary">Geri Dön</a>
</form>


