@model Message
@{
    ViewData["Title"] = "AddMessage";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Yeni Mesaj Ekleme Sayfası</h2>

<form method="post">
    <label>Ad Soyad</label>
    <input type="text" asp-for="Name" class="form-control" />

    <label>Mail</label>
    <input type="text" asp-for="Mail" class="form-control" />

    <label>İçerik</label>
    <input type="text" asp-for="Content" class="form-control" />

    <label>Tarih</label>
    <input type="text" asp-for="Date" class="form-control" />

    <label>Durum (true/false)</label>
    <input type="text" asp-for="Status" class="form-control" />

    <br />
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a href="/Message/Index" class="btn btn-secondary">Geri Dön</a>
</form>

